<html>
<head>
    <title>Protected WebAPI. Welcome page.</title>
</head>
<body>

<h1>Protected WebAPI. Welcome page.</h1>

<p style="font-size:medium;">
    ………………_„-,-~''~''':::'':::':::::''::::''...                     <br>
    ………._,-'':::::::::::::::::::::::::::::....                      <br>
    ………..,-'::::::::::::::::::::::::::::::....                      <br>
    ………,-'::::::::::::„:„„-~-~--'~-'~--~-~....                      <br>
    ……..,'::::::::::,~'': : : : : : : : : : : : : : : : : : '-|     <br>
    ……..|::::::::,-': : : : : : : : - -~''''¯¯''-„: : : : :\        <br>
    ……..|::::::::|: : : : : : : : : _„„--~'''''~-„: : : : '|        <br>
    ……..'|:::::::,': : : : : : :_„„-: : : : : : : : ~--„_: |'       <br>
    ………|::::::|: : : „--~~'''~~''''''''-„…_..„~''''''''''''¯|       <br>
    ………|:::::,':_„„-|: : :_„---~: : :|''¯¯''''|: ~---„_: ||         <br>
    ……..,~-,_/'': : : |: :(_ ◕__): : |: : : :|:(_◕__): \..|         <br>
    ……../,'-,: : : : : ''-,_______,-'': : : : ''-„_____|            <br>
    ……..\: :|: : : : : : :///////////: :„: : : : :-,: :./////// : :\<br>
    ………',:': : : : : : : : : : : : :,-'__: : : :_',: : : : ;: ,'    <br>
    ……….'-,-': : : : : :___„-: : :'': : ¯''~~'': ': : ~--|'         <br>
    ………….|: ,: : : : : : : : : : : : : : : : : : : : : :: : :|      <br>
    ………….'|: \: : : : : : : : -,„_„„-~~--~--„_: :: |                <br>
    …………..|: \: : : : : : : : : : : :-------~: : : : : |            <br>
    …………..|: :''-,: : : : : : : : : : : : : : : : : : : : :|        <br>
    …………..',: : :''-, : : : : : : : : : : : : : : : : :: ,'         <br>
    ……………| : : : : : : : : :_ : : : : : : : : : : ,-'               <br>
    ……………|: : : : : : : : : : '''~----------~''                     <br>
    …………._|: : : : : : : : : : : : : : : : : : : :|                 <br>
    ……….„-''. '-,_: : : : : : : : : : : : : : : : : ,'              <br>
    ……,-''. . . . . '''~-„_: : : : : : : : : : : : :,-'''-„         <br>
    </p>        
</body> 
</html>